<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MultipleValuesKeyRegex</key>
	<array>
		<string>^.*\[\]$</string>
		<string>^List&lt;.+&gt;$</string>
		<string>^WhereSelectListIterator&lt;.+&gt;$</string>
		<string>^OrderedEnumerable&lt;.+&gt;$</string>
	</array>
	<key>GarbageParts</key>
	<array>
		<string>CommonPart</string>
		<string>ContentItem</string>
		<string>Version</string>
		<string>LocalizationPart</string>
		<string>Storage</string>
		<string>Version</string>
		<string>Taxonomy</string>
		<string>Ids</string>
		<string>LayerPart</string>
		<string>CommentsPart</string>
		<string>UserPart</string>
		<string>QrCodePart</string>
		<string>MobilePushPart</string>
	</array>
	<key>SpecialNamesMapping</key>
	<dict>
		<key>Id</key>
		<string>identifier</string>
		<key>Slug</key>
		<string>autoroutePartDisplayAlias</string>
	</dict>
	<key>GetByAlias</key>
	<string>Json/GetByAlias</string>
	<key>GetByID</key>
	<string>Json/GetByID</string>
	<key>GenerationFieldsThatContainLinkReferences</key>
	<array>
		<string>displayAlias</string>
	</array>
	<key>GenerationNameFields</key>
	<array>
		<string>name</string>
		<string>displayName</string>
	</array>
	<key>GenerationClassesToIgnoreRegex</key>
	<array>
		<string>^WhereSelectEnumerableIterator&lt;.+&gt;$</string>
		<string>^PersistentGenericBag&lt;.+&gt;$</string>
	</array>
	<key>GenerationSpecialClassesClean</key>
	<dict>
		<key>AutoroutePart</key>
		<array>
			<string>customPattern</string>
			<string>path</string>
			<string>useCustomPattern</string>
		</array>
	</dict>
	<key>GenerationClassesToReduceEvenIfTheyHaveMutipleFields</key>
	<array>
		<string>MediaLibraryPickerField</string>
		<string>BlogPostPart</string>
		<string>LinkField</string>
		<string>TaxonomyPart</string>
		<string>TaxonomyField</string>
		<string>MeteoPart</string>
		<string>ParentContent</string>
		<string>BlogPart</string>
		<string>ContentPickerConnectorPart</string>
		<string>TextField</string>
		<string>BodyPart</string>
		<string>PolicyTextInfoPart</string>
	</array>
</dict>
</plist>
